.top{
  height:200vh;
}
.hed
{
position: fixed;
width: 100%;
height: 65px;
left: 0px;
top: 0px;
background: linear-gradient(90deg, #283655 38.6%, #DA2D2D 97.53%);
opacity: .95;
z-index: 10;
box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
.hed_img
{
position: absolute;
height:50px;
width:50px;
margin:8px ;
}
.hed_title
{
position: absolute;
width: 393px;
height: 60px;
left: 60px;
top: 13px;

font-family: Solway;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 43px;
text-align: center;
letter-spacing: 0.3em;
color: #F2F2F2;

animation-name: iit_move;
animation-duration: 4s;
}

@keyframes iit_move {
  from {left:100%;}
  to {left:60px;}
}
.hed_blood
{
overflow:hidden;
position: absolute;
width: 15%;
height: 45px;
right:5%;
top: 10px;

background: linear-gradient(180deg, #FF0000 33.3%, rgba(255, 0, 0, 0) 100%);
border: 4px solid #283655;
box-sizing: border-box;
box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.25);
border-radius: 15px;

font-family: Solway;
font-style: normal;
font-weight: bold;
font-size: 1.2vw;
line-height: 35px;
text-align: center;
letter-spacing: 0.05em;

color: #F2F2F2;
animation-name: blood_move;
animation-duration: 4s;
transition: transform 1s;
}
.hed_blood:hover
{
  transform: scale(1.1);
  background: #F2F2F2;
  color: #FF0000;
  
}
@keyframes blood_move {
  from {right:100%;}
  to {right:5%;}
}
.body_title
{
    

position: absolute;
width: 92%;
height: 76px;
left: 33px;
top: 100px;

font-family: Sorts Mill Goudy;
font-style: normal;
font-weight: normal;
font-size: 3vw;
line-height: 3vw;
text-align: center;
letter-spacing: 0.35em;

color: #000000;


text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);

transition: transform 1s;
}
.body_title:hover
{
  transform: scale(1.05);
}
.content
{
    position:relative;
    top:150px;
    width:100%
}
.left {
    width:25%; 
    float:left;
  }
  
  .main {
    width:50%; 
    float:left;
    
  }
  
  .right {
    width:25%;
    float:left;
  }
  .body_text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 1.85vw;
    line-height: 5vmin;
    text-align: center;

    color: #085C11;
  }
  .body_text2 {
    font-family: Solway;
    font-style: normal;
    font-weight: bold;
    font-size: 1.85vw;
    line-height: 5vmin;
    text-align: center;
    letter-spacing: .2em;
    
    color: #085C11;
  }

  .body_img
{
position:absolute;
left :36%;
top:15%;
height:38%;
width:25%;
margin:8px ;
z-index:1;
}
.tree {
    position :relative;
    top:25vh;
    width:100%;
    z-index: -1;
}
.line{
  position:relative;
height: 0px;
border-bottom: 2px solid #085C11;
}
.line1
{
width: 150%;
left: 10px;
top: -3vh;
}

.line2
{
 width: 150%;
  right:50%;
  top:2.5vh;
}
.line_ver1{
  position: relative;
  --width:40vh;
  width:var(--width);
  --sub:calc(var(--width) - 100%);
  left:calc(100% - calc(var(--sub)/2) + 10px);
  top:calc(calc(var(--width) / 2 ) - 3.4vh);
  transform : rotate(90deg);
}
.line_ver2{
  position: relative;
  --width:60vh;
  width:var(--width);
  --sub:calc(var(--width) - 100%);
  left:calc(-100% - calc(var(--sub)/2) );
  top:calc(2.83vh - calc(var(--width)/2) );
  transform : rotate(90deg);
}
.linev{
  position:relative;
  height:200px;
  width:50%;
  z-index: -5;
  border-left: 2px solid #085C11;

}
.linev2{
  position:relative;
  height:60px;
  width:50%;
  z-index: -5;
  border-left: 2px solid #085C11;

}
.line_vertb{
  top:3vmin;
  left:49.5%;
}
.body_title2
{
  position:static;
  width:100%;
  left:0px;
  top: 0px;
font-family: Sitara;
font-style: normal;
font-weight: normal;
font-size: 3.3vw;
line-height: 6vh;
text-align: center;
letter-spacing: 0em;

color: #085C11;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.c_img{

  position:relative;
  height:3vmin;
  width:3vmin;
  text-align: center;

}
.c_imgb{

  position:relative;
  height:3vmin;
  width:3vmin;
  top:5vmin;
  text-align: center;

}
.c2{
  position:relative;
  top:-50px;
  width: 10%;
  float: left;
}
.c1{
  position:relative;
  top:-325px;
  width:20%;
  float: left;
}
.c{
  width:20%;
  float: left;
}
.foot{
position:relative;
left:-2%;
width: 100.3vw;  
height:30vh;
background: #283655;

font-family: Sorts Mill Goudy;
font-style: bold;
font-weight: normal;
font-size: 1.8vw;
line-height: 2vh;
text-align: center;
letter-spacing: 0.35em;

color: #FFFFFF;
}
.hype{
  font-family: Sorts Mill Goudy;
font-style: bold;
font-weight: normal;
font-size: 1.8vw;
line-height: 2vh;
text-align: center;
letter-spacing: 0.35em;
text-decoration: none;
color: #FFFFFF;
}
.hype:hover{
  color:#629595;
}
@media only screen and (max-width: 1300px) {

  .body_text
  {
  line-height: 3.5vmin;
  }
  .body_title2 {
    top:0vh;
  }
  .line1{
  top: -2.5vh;
  }
  .line2{
    top:2vh;
  }
  .line{

    border-bottom: 1px solid #085C11;
  }
  .top{
    height:100vw;
  }
  .line_ver1{
    top:calc(calc(var(--width) / 2 ) - 2.699vh);
  }
  .line_ver2{
    --width:35vh;
    top:calc(2.2vh - calc(var(--width)/2) );  }
}

@media only screen and (max-width: 1000px)
{
  .line1{
    top: -2vh;
    }
    .top{
      height:150vmin;
    }
    .line_ver1{
      --width:33vh;
      top:calc(calc(var(--width) / 2 ) - 2.15vh);
    }
    .line_ver2{
      --width:40vh;
    }
}
@media only screen and (max-width: 620px)
{
  .top{
    height:150vw;
  }
  .foot{
    font-size: 2.5vw;
  }
  .hype{
    font-size: 2.5vw;
  }
}